@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
  a:hover {
    @apply text-blue-800;
  }
}
@tailwind components;
@tailwind utilities;


body {
	
}
.hover-visible:hover {
	overflow: visible;
	z-index: 100;
}


.titleLink:hover {
	cursor: pointer;
}

.overflowDescription {
	overflow: visible;
	z-index: 1000;
}
.overflowDescription > div:nth-child(1) {
	max-height: unset;
}
.overflowDescription > div:nth-child(2) {
	border: 1px solid black;
	padding: 0.5rem;
}

.awesomplete {
	width: 100%;
}
.awesomplete > input {
	width: 100%;
}